/BuildMode.class
/ConveyorBuildMode.class
/ExtractorBuildMode.class
/DNACombinerBuildMode.class
/LifeformAssemblerBuildMode.class
/DeleteBuildMode.class
/DNASynthesizerBuildMode.class
/OrganSynthesizerBuildMode.class
/RibosomeBuildMode.class
/TunnelBuildMode.class
