/Item$ItemType.class
/Item.class
/LifeformCombiner.class
/NucleotideFactory.class
/TraitCombiner.class
/LifeForm.class
/Movable.class
/Mutant.class
/Nucleotide.class
/Organ.class
/Protein.class
/Trait.class
