/Conveyor.class
/DNACombiner.class
/DeliveryZone.class
/Entity.class
/Extractor.class
/LifeformAssembler.class
/Conveyor$ConveyorType.class
/DNASynthesizer$Mode.class
/DNASynthesizer.class
/OrganSynthesizer.class
/Ribosome$Mode.class
/Ribosome.class
/Tunnel.class
/TunnelEnd.class
